/* Importing Font */
@import url("https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400");

/* Global Styles and Variables */
:root {
  --text: hsl(0, 0%, 99%);
  --textDim: hsl(0, 0%, 60%);
  --background: hsl(0, 0%, 7%);
  --primary: hsl(155, 100%, 65%);
  --primaryBg: hsla(155, 100%, 65%, 1%);
  --primaryHi: hsla(155, 100%, 75%, 25%);
  --primaryFg: hsl(155, 100%, 85%);
  --secondary: hsl(156, 51%, 14%);
  --secondaryFg: hsl(156, 51%, 75%);
  --secondaryBg: hsla(156, 51%, 14%, 5%);
  --secondaryHi: hsla(156, 51%, 30%, 50%);
  --accent: hsl(155, 100%, 94%);
  --accentBg: hsla(155, 100%, 94%, 1%);
  --accentHi: hsla(155, 100%, 100%, 25%);
}

#about {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  justify-self: center;
  color: var(--primaryFg);
  padding: 10px;
  border-radius: 10px;
  margin-top: 80px;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: "Manrope", sans-serif;
  display: flex;
  cursor: none;
  min-width: 100vh;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden !important;
}
section {
  left: 10%;
}

@keyframes fadesmIn {
  from {
    opacity: 0;
    color: var(--background);
  }
  to {
    opacity: 1;
    color: var(--text);
  }
}
button:hover ~ .cursor{
  width: 50px;
  height: 50px;
  color: transparent;
}

/* Enable smooth scrolling for the whole document */
html {
  scroll-behavior: smooth;
}
#about p {
  font-size: 20px;
}
#about h2 {
  justify-content: center;
}
/* Style for the custom sphere cursor */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, width 0.3s ease, height 0.3s ease;
  z-index: 9999;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Video background styling */
.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; /* Place the video behind the content */
}

/* Hero content styling */
.hero-content {
  position: relative;
  z-index: 1; /* Ensure content is above the video */
  color: white;
  text-align: center;
  padding: 20px;
}
/* Ensures the custom cursor stays consistent across all elements */
*,
a,
button,
input,
iframe,
textarea {
  cursor: none !important;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  transition: transform 0.5s ease-in-out;
}

#progressBar {
  width: 0;
  height: 5px;
  background-color: var(--primaryFg);
  transition: width 0.4s ease;
}
/* Slider */
.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black, transparent);
  position: relative;
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
  /* Ensure smooth transition from the start */
  animation: fadeInSlide 1s ease-in-out;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  gap: 0;
  animation: autjo 10s linear infinite;
  /* Calculate delay dynamically, no additional delay */
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}

@keyframes autjo {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Preload the slider to ensure animation plays on load */

body.loaded .slider .list {
  animation: none; /*Stop fade-in animation once loaded */
}

.slider .list .item img {
  width: 100%;
  border-radius: 10px;
}
.slider:hover .item {
  animation-play-state: paused !important;
}

/* Header and Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #111111a6;
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#contact {
  margin-top: 20px;
}
#margin,
#contact {
  display: flex;
  justify-content: left;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--text);
  padding-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--textDim);
  transition: color 0.3s;
  padding: 5px 10px;
  font-size: 16px;
}
nav ul li a:hover {
  color: var(--primaryFg);
}
a {
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  color: var(--textDim);
}

/* Title and Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Adjust height for fixed header */
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: var(--text);
  margin-bottom: 27px;
  animation: fadeInScroll 1s ease-out;
  animation-timeline: view();
  animation-range: entry cover 60%;
  margin-bottom: 70px;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  animation: fadeIn 1s ease-in;
  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
  display: flex;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in;
  justify-self: left;
  color: var(--primaryFg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInScroll {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Buttons */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: 50px;
  width: 160px;
  z-index: 9999;
}

button {
  height: 50px;
  width: 160px;
  clip-path: path(
    "M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25"
  );
  border: none;
  border-radius: 13px;
  background-color: var(--primaryBg);
  box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
  color: var(--primaryFg);
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.button:hover > button {
  transform: translateY(5px);
}

/* Music Toggle */
#musicToggle {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: var(--text);
  border: none;
  border-radius: 5px;
  position: fixed;
  z-index: 5000;
  right: 20px;
  bottom: 20px;
}

#musicToggle:hover {
  transform: translateY(5px);
}

/* Grid and Blur Elements */

/* Footer */
footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #111;
  text-align: center;
  color: var(--textDim);
}
.hidden {
  opacity: 0;
  transition: all 1.5s;
  filter: blur(5px);
}
.show {
  opacity: 1;
  filter: blur(0);
}
@media (prefres-reduced-motion) {
  .hidden {
    transition: none;
  }
}
